@charset "utf-8";

body {
    margin: 0;
    background-color: #f1f4f6;
    font-family: "Nunito Sans","Open Sans",Arial, sans-serif;
    animation: fadeIn 1s ease-out; 
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
    animation: fadeInUp 1s ease-out;
}